.ls{
    background: #001030;
    color: white;
    height: 75vh;
}

.ls-top{
    padding: 20px;
    padding-top: 5px;
}

.ls-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.ls-nav .logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.ls-nav .logo img{
    max-width: 50px;
}

.ls-nav .logo h3{
    font-size: 24px;
    font-weight: 400;
}

.ls .menu img{
    max-height: 20px;
    opacity: 0.6;
    cursor: pointer;
}

.ls-search{
    background: #002670;
    display: flex;
    align-items: center;
    gap:10px;
    padding: 10px 12px;
    margin-top: 20px;
}


.ls-search img{
    width: 14px;
}
.ls-search input{
    background: transparent;
    border: none;
    outline: none;
    color:white;
    font-size: 12px;
}


.ls-search input::placeholder {
    color: #c8c8c8;
}

.ls-list{
    display: flex;
    flex-direction: column;
    height: 70%;
    overflow-y: scroll;
}


.friends{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 13px;
}

.friends .linear-gradient-border {
    width: 45px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: linear-gradient(to left, #596AFF, #383699);
}
.friends img{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}


.friends .description{
    display: flex;
    flex-direction: column;
}

.friends .description span{
    color: #9f9f9f;
    font-size: 11px;
}

.friends:hover {
    background-color: #077EFF;
}

.friends:hover span{
    color: #fff;
}

.friends:hover .linear-gradient-border{
    background: #c8c8c8;
}


.ls-nav .menu{
    position: relative;
    padding: 10px 0px;
}

.menu .sub-menu{
    position: absolute;
    top: 100%;
    right: 10px;
    width: 130px;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    color: black;
    display: none;
}
.menu:hover .sub-menu{
    display: block;
}
.sub-menu hr{
    border: none;
    height: 1px;
    background-color: #a4a4a4;
    margin: 8px 0px;
}

.sub-menu p{
    cursor: pointer;
    font-size: 14px;
}

